
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');




  body {
    font-family: "Poppins", serif;
    line-height: 1.6;
    background-color: #f1f7fe;
    height: auto;
    margin: auto;
  }
  
  

  @media screen and (min-width: 900px)  {
    header {
      width: 70%;
    }
    
    header h1{
      position: absolute;
      margin-top: 42%;
      margin-left: 22%;
      font-family: "Poppins", serif;
      font-weight: 400;
      font-size: 2.5vw;
      width: 70%;
      padding: 2vw;
      background: none;
      text-decoration: underline 2px solid rgb(40, 81, 127);
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    header button{
      position: relative;
      margin-top: 68%;
      margin-left: 45%;
      width: 50%;
      font-family: "Poppins", serif;
      font-size: 1.2vw;
      font-weight: 200;
    }
    header .wrapper{
      width: 100%;
      margin-left: 20vw;
      align-items: center;
    }
    header button:hover{
      background-color: #f3e8e1;
      cursor: pointer;
    }
    header .wrapper .floor-head{
      position: absolute;
      width: 85%;
    }
    header .wrapper .wall{
      position: absolute;
      width: 85%;
    }
    header .wrapper .sofa{
      position: absolute;
      margin-top: 34%;
      margin-left: 22%;
      height: auto;
      width: 40%;
    }
    header .wrapper .frontTable{
      width: 12%;
      position: absolute;
      margin-top: 27%;
      margin-left: 20%;
    }
    header .wrapper .pen-light{
      width: 28%;
      position: absolute;
      margin-top: 1%;
      margin-left: 29%;
    }
    header .wrapper .plant{
      position: absolute;
      margin-top: 23%;
      margin-left: 60%;
      width: 25%;
    }
    header .wrapper .sideTable{
      position: absolute;
      margin-top: 25%;
      margin-left: 4%;
      width: 18%;
    }


    section{
      margin-top: -20%;
      margin-left: 10%;
      margin-bottom: 10%;
      width: 90%;
      height: fit-content;
    }

     .options {
      margin-top: 2%;
      width: 100%;
      display: flex;
      flex-direction:row;
      align-items: flex-start;
      height: fit-content;
    }

    .select_buttons{
      width: 90%;
     }
     .select_buttons ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
     }
     form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 10px;
      width: 90%;
    }

    button{
      background-color: #f3e8e1;
      border: #f3e8e1;
      border-radius: 5px;
      padding: 5px 20px;
      font-size: 20px;
      cursor: pointer;
    }
    .item{
      width: 100px;
      height: 90px;
      overflow: hidden;
      margin: 5px;
    }
    button img{
      width: 70px;
    }
  }


  footer{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 230, 196);
    width: 100%;
    margin: auto; 
   }
   footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  ul li{
    text-decoration: none;
  }
  footer ul li a{
    text-decoration: none;
    color: rgb(62, 84, 24);
    padding: 0 30px;
    font-size: 4vw;
   }

   footer h2 , h3{
    margin-top: 15px;
    color: darkslategrey;
    font-weight: 700;
    font-size: 2vw;
    line-height: 1.5;
   }
   footer p{
    width: 90%;
    color: darkslategrey;
    font-size: 1.20vw;
    font-weight: 400;
    margin: 10px;
   }

  .animatable {
    
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    
    animation-play-state: paused; 
  }
  
  /* show objects being animated */
  .animated {
    visibility: visible;
    
  
    animation-fill-mode: both;
    
   
    animation-duration: 5s;
  
    animation-play-state: running;
  }

  @keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    60% {
        transform: translateX(20px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        transform: translateX(-20px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

  @keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
  }

  @keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

  @keyframes fadeBgColor {
    0%{
        background:none;
    }
  70%{
        background:none;
    }
    100%{
        background:#464646;
    }
  }

  .animated.animationDelay{
    animation-delay:.4s;
 
}
.animated.animationDelayMed{
    animation-delay:2s;

}
.animated.animationDelayLong{
    animation-delay:1.6s;
 
}
.animated.fadeBgColor {
 
    animation-name: fadeBgColor;
}
.animated.bounceIn {

    animation-name: bounceIn;
}
.animated.bounceInRight {

    animation-name: bounceInRight;
}
.animated.bounceInLeft {
 
    animation-name: bounceInLeft;
}
.animated.fadeIn {

    animation-name: fadeIn;
}
.animated.fadeInDown {
 
    animation-name: fadeInDown;
}
.animated.fadeInUp {

    animation-name: fadeInUp;
}
.animated.moveUp {

    animation-name: moveUp;
}
  



  .accessories{
    display: flex;
    flex-direction: column;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  label {
    font-family: "Poppins", serif;
    margin: 10px 2px;
    border-radius: 30px;
  }
  
  h2 {
    line-height: 1;
  }
  
  h2 {
    font-weight: 400;
    font-size: 18px;
    position: relative;
    margin: 0px 20px;
    text-transform: uppercase;
    text-align: center;
  }


  .canvas .sofa{
    position: absolute;
    width: 30%;
    margin-left: 10%;
    margin-top: 0%;
  }

  .canvas .sofa-02{
    width: 45%;
    margin-left: 8%;
    margin-top: -7%;
    position: absolute;
    z-index: -5;
  }
  .canvas .sofa-03{
    width: 45%;
    margin-left: 10%;
    margin-top: 3%;
    z-index: -2;
    transform: rotateX('180deg');
  }
  .canvas .sofa-04{
    width: 40%;
    margin-left: 7%;
    margin-top: -10%;
    position: absolute;
    z-index: -3;
  }
  .canvas .plant{
    position: absolute;
    width: 9%;
    margin-left: 38%;
    margin-top: 8%;
    z-index: -4;
  }
.canvas .centerTable {
    width: 30%;
    left: 275px;
    top: 1240px;
    position: absolute;
  }
.canvas .centerTable-04 {
    width: 30%;
    left: 315px;
    top: 1280px;
    position: absolute;
  }
 
.canvas .centerTable-02 {
    width: 24%;
    left: 285px;
    top: 1320px;
    position: absolute;
  }
.canvas .centerTable-03 {
    width: 24%;
    left: 325px;
    top: 1300px;
    position: absolute;
  }
.canvas .lamp {
    width: 25%;
    right: 1020px;
    top: 1140px;
    position: absolute;
    z-index: -4;
  }
.canvas .lamp-03 {
    width: 30%;
    left: 620px;
    top: 1050px;
    transform: scaleX(-1);
    position: absolute;
    z-index: 1;
  }
  .canvas .lamp-02{
    width: 25%;
    right: 980px;
    top: 1140px;
    position: absolute;
  }
 
  #bsOne{
    width: 20%;
    top: 900px;
    right: 750px;
    position: absolute;
    display: none;
  }
  #bsTwo{
    width: 15%;
    top: 910px;
    right: 750px;
    position: absolute;
    display: none;
  }
  #bsThree{
    width: 30%;
    top: 900px;
    right: 700px;
    position: absolute;
    display: none;
  }
  #bcOne , #bcTwo{
    width: 20%;
    top: 1000px;
    right: 160px;
    position: absolute;
    display: none;
    ;
  }
  #bcThree{
    width: 18%;
    top: 980px;
    right: 160px;
    position: absolute;
    display: none;
  }
  #clockOne , #clockTwo{
    width: 10%;
    top: 970px;
    right: 1100px;
    position: absolute;
    display: none;
  }

  #cat{
    width: 15%;
    top: 1500px;
    right: 160px;
    position: absolute;
    display: none;
  }
 

  .tv{
    width: 350px;
  }
  .pdl1 , .pdl2{
    width: 20px;
  }

  #plantation{
    display: none;
  }

  #lampOne, #lampTwo, #lampThree  {
   display: none;
  }
 
  #sofaOne ,#sofaTwo,#sofaThree,#sofaFour{
   display: none;
  }
  #ctOne, #ctTwo, #ctThree, #ctFour{
   display: none;
  }


  button:hover{
    background-color: white;
    border: 2px solid grey;
    border-radius: 30px;
  }
 

  

  


  #demo{
    background-color: antiquewhite;
    width: 600px;
    height: 600px;
    z-index: -10;
}
#myColor{
    width: 300px;
    height: 15px;
}
#myRange{
    width: 300px;
    height: 15px;
}


 .wall-size{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    margin-top: 30rem;
    margin-left: 50px;
 }

  .control{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(215, 254, 254);
    padding: 5px;
    border-radius: 30px;
    width: 1160px;
    margin-bottom: 20px;
  }
  .wall-size .perspective{
    margin-top: -95px;
    margin-left: -34px;
    height: 300px;
    width: 1230px;
    background-color: rgb(226, 226, 226);
    transform: perspective(2200px) rotateX(60deg);
    z-index: -8;
  }

  #living-room , #bed-room , #tv-wall{
    display: none;
  }

 
  .selection{
  font-family: "Poppins", serif;
    margin: auto;
    padding: 10px;
    font-weight: 500;
    border-radius: 30px;
    font-size: 24px;
    background-color: rgb(232, 246, 251);
  }
 




 #bedOne {
  position: absolute;
  width: 50%;
  right: 30%;
  top: 148%;
  display: none;
 }
 #bedTwo{
  position: absolute;
  width: 50%;
  right: 30%;
  top: 135%;
  display: none;
 }
 #bedThree{
  position: absolute;
  width: 40%;
  right: 35%;
  top: 145%;
  display: none;
 }
 #bedFour{
  position: absolute;
  width: 50%;
  right: 30%;
  top: 140%;
  display: none;
 }

 #bed-decoFour , #bed-decoThree , #bed-decoTwo , #bed-decoOne{
  position: absolute;
  width: 13%;
  right: 48%;
  top: 116%;
  display: none;
 }
 #bed-backOne {
  position: absolute;
  width: 24%;
  right: 43%;
  top: 116%;
  display: none;
  z-index: -1;
 }
 #bed-backTwo , #bed-backThree {
  position: absolute;
  width: 24%;
  right: 43%;
  top: 116%;
  height: 60%;
  display: none;
  opacity: .6;
  z-index: -1;
 }
 #bed-backFour {
  position: absolute;
  width: 24%;
  right: 43%;
  top: 116%;
  display: none;
  z-index: -1;
 }
 #pcOne , #pcTwo{
  position: absolute;
  width: 20%;
  right: 25%;
  top: 118%;
  display: none;
 }
 #plOne , #plTwo{
  position: absolute;
  width: 5%;
  right: 35%;
  top: 114%;
  display: none;
 }
 #tvOne{
  width: 60%;
  right: 30%;
  position: absolute;
  top: 120%;
  display: none;
 }
 #tvTwo{
  width: 40%;
  right: 40%;
  position: absolute;
  top: 123%;
  display: none;
 }
 #tvThree{
  width: 60%;
  right: 30%;
  position: absolute;
  top: 120%;
  display: none;
 }
 #tvFour{
  width: 70%;
  height: 1000px;
  right: 21%;
  position: absolute;
  top: 101%;
  display: none;
 }
 #tvFive , #tvSix{
  width: 60%;
  right: 25%;
  position: absolute;
  top: 118%;
  display: none;
 }
 #tvSeven{
  width: 47%;
  right: 35%;
  position: absolute;
  top: 111%;
  display: none;
 }

 #sitOne {
  width: 25%;
  right: 18%;
  top: 145%;
  position: absolute;
  display: none;
 }
 #sitTwo {
  width: 22%;
  right: 20%;
  top: 135%;
  position: absolute;
  display: none;
 }
 #sitThree {
  width: 25%;
  right: 68%;
  top: 145%;
  position: absolute;
  display: none;
 }
 #sitFive{
  width: 25%;
  right: 25%;
  top: 162%;
  position: absolute;
  display: none;
 }
 #sitFour , #sitSix{
  width: 20%;
  right: 25%;
  top: 160%;
  position: absolute;
  display: none;
 }

 #othOne{
  width: 20%;
  right: 55%;
  top: 150%;
  position: absolute;
  display: none;
  z-index: 2;
 }
 #othTwo{
  width: 20%;
  right: 45%;
  top: 113%;
  position: absolute;
  display: none;
  z-index: -1;
 }
 #othThree , #othFour{
  width: 8%;
  right: 25%;
  top: 140%;
  position: absolute;
  display: none;
  z-index: -1;
 }
 #othFive {
  width: 15%;
  right: 75%;
  top: 125%;
  position: absolute;
  display: none;
  z-index: -1;
 }
 #othSix {
  width: 10%;
  right: 78%;
  top: 140%;
  position: absolute;
  display: none;
  z-index: -1;
 }
 #othSeven{
  width: 10%;
  right: 25%;
  top: 150%;
  position: absolute;
  display: none;
  z-index: -2;
 }
 #othEight{
  width: 8%;
  right: 25%;
  top: 128%;
  position: absolute;
  display: none;
  z-index: -2;
 }
 #othNine{
  width: 22%;
  right: 44%;
  top: 135%;
  position: absolute;
  display: none;
 }


 #hcOne , #hcTwo{
  width: 60%;
  right: 25%;
  position: absolute;
  top: 122%;
  display: none;
  z-index: -1;
 }
 #hcThree{
  width: 40%;
  right: 38%;
  position: absolute;
  top: 115%;
  display: none;
 }
 
 @media screen and (max-width: 900px) {
  header {
    height: 50%;
    margin-left: 15%; 
  }
  header h1{
    position: absolute;
    margin-top: 65%;
    margin-left: 28%;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 2.6vw;
    width: 70%;
    padding: 2vw;
    background: none;
    text-decoration: underline 2px solid rgb(40, 81, 127);
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  header button{
    position: relative;
    margin-top: 90%;
    margin-left: 45%;
    width: 60%;
    font-family: "Poppins", serif;
    font-size: 1.8vw;
    font-weight: 200;
  }
  header .wrapper{
    width: 100vw;
    margin-left: 12%;
  }
  header button:hover{
    background-color: #f3e8e1;
    cursor: pointer;
  }
  header .wrapper .floor-head{
    position: absolute;
    width: 90vw;
  }
  header .wrapper .wall{
    position: absolute;
    width: 90vw;
  }
  header .wrapper .sofa{
    position: absolute;
    margin-top: 40%;
    margin-left: 26%;
    height: auto;
    width: 40%;
  }
  header .wrapper .frontTable{
    width: 20%;
    position: absolute;
    margin-top: 40%;
    margin-left: 30%;
  }
  header .wrapper .pen-light{
    width: 30%;
    position: absolute;
    margin-top: 5%;
    margin-left: 28%;
  }
  header .wrapper .plant{
    position: absolute;
    margin-top: 25%;
    margin-left: 65%;
    width: 25%;
  }
  header .wrapper .sideTable{
    position: absolute;
    margin-top: 25%;
    margin-left: 6%;
    width: 20%;
  }

  #designInterior{
    width: 100%;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 230, 196);
    margin-top: 5%;
    margin-left: 15%;
    min-width: 100%;
    width: 140%; 
    padding: 10%;
   }
footer h2 , h3{
  margin-top: 15px;
  color: darkslategrey;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 1.5;
 }
 footer p{
  width: 140vw;
  color: darkslategrey;
  font-size: 1.8vw;
  font-weight: 400;
  margin: 10px;
 }

}
 
  