
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');



html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 300;
    margin-right: 20px;
    margin-top: 50px;
  }
  
  * {
    margin-right: 10px;
    padding: 0;
  }
  header h1{
    text-align: center;
    width: 70vw;
    padding: 10px 100px ;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 40%, #f3e8e1 60%);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h1,
  label,
  button,
  .swal-title,
  .swal-button {
    font-family: "Poppins", serif;
    margin: 10px 2px;
    border-radius: 30px;
  }
  
  h1,
  h2 {
    line-height: 1;
  }
  
 
  
  h1 {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 20px;
  }
  
  h2 {
    font-weight: 400;
    font-size: 18px;
    position: relative;
    margin: 0px 20px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .swal-title,
  .swal-button {
    font-weight: 300;
  }
  
  .swal-title {
    font-size: 2.4rem;
  }
  
  .swal-button {
    transition: all 0.5s ease;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 8px 0;
    font-size: 1.6rem;
    width: 120px;
    border-radius: 0;
  }
  
  .swal-button:not([disabled]):hover,
  .swal-button:not([disabled]):focus {
    background-color: #f3e8e1;
    cursor: pointer;
  }
  
  .swal-footer {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
  }
  
  header {
    height: 55vh;
    margin-left: 100px;
  }
  
  header .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 600px;
    width: 1200px;
    margin-bottom: 20px;
  }
  
  header .writtenContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  header p {
    font-size: 20px;
  }
  
  header button {
    margin-top: 30px;
    transition: all 0.5s ease;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 8px 0;
    font-size: 2rem;
    width: 150px;
  }
  
  header button:hover{
    background-color: #f3e8e1;
    cursor: pointer;
  }
  
  header .imageContainer {
    width: 45%;
    opacity: .5;
  }

  .accessories{
    display: flex;
    flex-direction: column;
  }


  
  .options {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
  }

  
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    width: 250px;
  }
  form .book{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
  }
  form .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
  }
  form .sit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
  }
  form .light{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
  }
  form .extra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
  }


  button{
    background-color: #f3e8e1;
    border: #f3e8e1;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  button img{
    width: 50px;
  }

  #plantation{
    display: none;
  }

  #lampOne, #lampTwo, #lampThree  {
   display: none;
  }
 
  #sofaOne ,#sofaTwo,#sofaThree,#sofaFour{
   display: none;
  }
  #ctOne, #ctTwo, #ctThree, #ctFour{
   display: none;
  }


  button:hover{
    background-color: white;
    border: 2px solid grey;
    border-radius: 30px;
  }
 

  
  .canvas .sofa{
    width: 45%;
    left: 180px;
    top: 1230px;
    position: absolute;
  }
  .canvas .sofa-02{
    width: 43%;
    left: 150px;
    top: 1150px;
    position: absolute;
    z-index: -5;
  }
  .canvas .sofa-03{
    width: 45%;
    left: 175px;
    top: 1290px;
    position: absolute;
    z-index: -2;
    transform: rotateX('180deg');
  }
  .canvas .sofa-04{
    width: 45%;
    left: 160px;
    top: 1150px;
    position: absolute;
    z-index: -3;
  }
  .canvas .plant{
    width: 12%;
    left: calc(100% - 650px);
    top: 1150px;
    position: absolute;
    z-index: -4;
  }
.canvas .centerTable {
    width: 30%;
    left: 255px;
    top: 1220px;
    position: absolute;
  }
.canvas .centerTable-04 {
    width: 30%;
    left: 255px;
    top: 1240px;
    position: absolute;
  }
 
.canvas .centerTable-02 {
    width: 24%;
    left: 255px;
    top: 1300px;
    position: absolute;
  }
.canvas .centerTable-03 {
    width: 24%;
    left: 305px;
    top: 1280px;
    position: absolute;
  }
.canvas .lamp {
    width: 25%;
    right: 1060px;
    top: 1140px;
    position: absolute;
    z-index: -4;
  }
.canvas .lamp-03 {
    width: 30%;
    left: 560px;
    top: 1050px;
    transform: scaleX(-1);
    position: absolute;
    z-index: 1;
  }
  .canvas .lamp-02{
    width: 25%;
    right: 1050px;
    top: 1140px;
    position: absolute;
  }
 
  #bsOne{
    width: 20%;
    top: 900px;
    right: 800px;
    position: absolute;
    display: none;
  }
  #bsTwo{
    width: 15%;
    top: 910px;
    right: 800px;
    position: absolute;
    display: none;
  }
  #bsThree{
    width: 30%;
    top: 900px;
    right: 750px;
    position: absolute;
    display: none;
  }
  #bcOne , #bcTwo{
    width: 20%;
    top: 1000px;
    right: 200px;
    position: absolute;
    display: none;
    ;
  }
  #bcThree{
    width: 18%;
    top: 980px;
    right: 200px;
    position: absolute;
    display: none;
  }
  #clockOne , #clockTwo{
    width: 10%;
    top: 970px;
    right: 1150px;
    position: absolute;
    display: none;
  }

  #cat{
    width: 15%;
    top: 1500px;
    right: 250px;
    position: absolute;
    display: none;
  }



  #demo{
    background-color: antiquewhite;
    width: 600px;
    height: 600px;
    z-index: -10;
}
#myColor{
    width: 300px;
    height: 15px;
}
#myRange{
    width: 300px;
    height: 15px;
}


 .wall-size{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    margin-top: 30rem;
    margin-left: 50px;
 }

  .control{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(215, 254, 254);
    padding: 5px;
    border-radius: 30px;
    width: 1160px;
    margin-bottom: 20px;
  }
  .wall-size .perspective{
    margin-top: -95px;
    margin-left: -34px;
    height: 300px;
    width: 1230px;
    background-color: rgb(234, 242, 247);
    transform: perspective(2200px) rotateX(60deg);
    z-index: -8;
  }

  #living-room , #bed-room , #tv-wall{
    display: none;
  }
  .select_buttons{
    margin: 20px;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  ul li{
    text-decoration: none;
  }
  .selection{
  font-family: "Poppins", serif;
    margin: auto;
    padding: 10px;
    font-weight: 500;
    border-radius: 30px;
    font-size: 24px;
    background-color: rgb(232, 246, 251);
  }
 footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 230, 196);
  border-radius: 20px;
  margin-top: 50px;
  
 }
 footer h2{
  margin-top: 30px;
  margin-left: -20px;
  color: darkslategrey;
  font-weight: 500;
  line-height: 1.5;
 }
 footer p{
  margin-top: -10px;
  margin-left: -20px;
  color: darkslategrey;
  font-weight: 700;
 }
 footer ul li a{
  text-decoration: none;
  color: rgb(62, 84, 24);
  padding: 30px;
 }







 #bedOne {
  position: absolute;
  top: 1200px;
  right: 300px;
  display: none;
 }
 #bedTwo{
  position: absolute;
  width: 60%;
  top: 1100px;
  right: 300px;
  display: none;
 }
 #bedThree{
  position: absolute;
  width: 45%;
  top: 1200px;
  right: 500px;
  display: none;
 }
 #bedFour{
  position: absolute;
  width: 60%;
  top: 1120px;
  right: 350px;
  display: none;
 }

 #bed-decoFour , #bed-decoThree , #bed-decoTwo , #bed-decoOne{
  position: absolute;
  width: 20%;
  top: 880px;
  right: 850px;
  display: none;
 }
 #bed-backOne {
  position: absolute;
  width: 38%;
  top: 850px;
  right: 400px;
  display: none;
 }
 #bed-backTwo , #bed-backThree {
  position: absolute;
  width: 30%;
  height: 76%;
  top: 850px;
  right: 900px;
  display: none;
 }
 #bed-backFour {
  position: absolute;
  width: 28%;
  top: 850px;
  right: 153px;
  display: none;
 }
 #pcOne , #pcTwo{
  position: absolute;
  width: 32%;
  top: 900px;
  right: 300px;
  display: none;
 }
 #plOne , #plTwo{
  position: absolute;
  width: 6%;
  top: 830px;
  right: 500px;
  display: none;
 }


  